<% content_for :head do %>
  <%= javascript_include_tag("pages/top") %>
<% end %>
<main class="top container">
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>

  <% if !logged_in? %>
    <section class="hero">
      <a href="<%= login_path %>">会員登録・ログイン</a>
    </section>
  <% end %>

  <section class="about">
    <h2 class="title">ABOUT <span>WHATIF?</span></h2>
    <p class="txt">
      実用的なビジネス英会話より、<br class="forSP">映画のふとしたフレーズが頭に残る。<br>
      それはきっと情景とともに<br class="forSP">あなたの脳に記憶されているから。<br>
      <br class="forSP">
      このアプリは、物語のワンシーンのような<br class="forSP">状況で英語を学ぶことができます。<br>
      「次はどんな場面が来るんだろう？」<br>
      純粋な好奇心で続けられる学びを目指します。
    </p>
  </section>
  <section class="scenes">
    <h2 class="title">SCENES</h2>
    <p class="txt">
      好きなシーンを選んでください。
    </p>
    <ul class="situations">
      <% @situations.each_with_index do |situation, index| %>
        <li class="situation">
          <div class="thum js-modal-open">
            <%= image_tag situation.thumbnail %>
          </div>
          <div class="modal">
            <button class="modal-close js-modal-close" aria-label="閉じる">&times;</button>
            <div class="inner">
              <div class="thum">
                <%= image_tag situation.thumbnail %>
              </div>
              <div class="txts">
                <h3 class="title">
                  <%= situation.title %>
                </h3>
                <p class="txt overview">
                  <%= situation.overview %>
                </p>
                <a class="button" href="<%= url_for(situation_path(situation)) %>">
                  あらすじを見る
                </a>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </section>
  <span class="overlay"></span>
</main>
