<!DOCTYPE html>
<html>
  <head>
    <title>WHATIF?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="description" content="一生使わないかもしれない英語を学ぶ、極限シチュエーション特化の英語学習アプリ。">
    <meta property="og:title" content="WHATIF?">
    <meta property="og:type" content="website">
    <meta property="og:description" content="一生使わないかもしれない英語を学ぶ、極限シチュエーション特化の英語学習アプリ。">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="WHATIF?">
    <meta name="twitter:description" content="一生使わないかもしれない英語を学ぶ、極限シチュエーション特化の英語学習アプリ。">


    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white text-gray-900 antialiased">
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
